
<div class="row">
  <div class="col s12"> </div>
  <div class="col s6"><br/><a href="/groups/new" class="waves-effect waves-light btn">Create Group  </a><br/></div>
  <div class="col s12">
    <h2>Groups </h2><% @groups.each do |group| %>
    <div id="myCheck" onmouseclick="myFunction()" onclick="window.location='/groups/<%= group.id %>'" class="animated bounceIn card white">
      <div class="card-content"><span class="card-title"> 
          <h3> <b style="color: #909090;"><%= group.name %></b></h3></span></div>
      <div class="card-action">
        <p>Location: <%= group.location %></p>
        <p>Voting Status: <%= group.vote_status %></p>
        <p>Members (<%= group.users.count %>)
          <p><% group.users.each do |member| %><% url = member.profile_img %>
            <%= image_tag(url, id: "profile-img") %>
            <% end %>
          </p>
        </p>
      </div>
    </div><% end %> 
  </div>
  <div class="col s12">
    <h2>Upcoming Meetups</h2><br/><% @groups.each do |group| %>
    <div id="myCheck" onmouseclick="myFunction()" onclick="window.location='/groups/<%= group.id %>'" class="card white">
      <div class="card-content"><b style="color: #909090;"><%= group.name %></b><% if @events != {} %><span class="card-title"> 
          <h3> <b><%= @events[group.id.to_s].name %></b></h3></span>
        <p><%= group.events.first.venues.find_by(chosen: true).name %></p>
        <p><%= group.events.first.venues.find_by(chosen: true).location %></p>
        <p><%= @events[group.id.to_s].start_time.strftime("%b %e, %l:%M %p") %></p><% end %>
      </div>
      <div class="card-action"><span class="card-title"><b>Members</b></span><% if @members %>
        <% members = @members[group.id.to_s] %>
        <div class="row"></div><% members.each do |member| %>
        <div class="col s1"><% url = member.profile_img %>
          <%= image_tag(url, id: "profile-img") %>
        </div><% end %>
        <% end %><img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= group.chosen_venue %>&zoom=16&size=600x300&maptype=roadmap&markers=color:green%7Clabel:G%7C<%= group.chosen_venue %>&" style="padding-top: 40px;"/>
      </div>
    </div><% end %>
    <%= month_calendar events: @meeting do |date, meeting| %>
  </div><%= date.strftime("%d") %>
  <% meeting.each do |row| %>
  <div>
    <%= row.name %>
    <% end %>
  </div><% end %><br/>
</div>
<script src="//d3js.org/d3.v3.min.js"> </script>