<%= form_tag("/venues/#{@group.id}", method: "post") do %>
<%= select("post", "event_id", @group.events.collect {|p| [ p.name, p.id ]}, {include_blank: true}) %>

<% @venues.each do |venue| %>
  <h3><%= venue["name"]%></h3>
  <p><%= venue["location"]["address"] %></p>
  <%= check_box_tag 'venue_ids[]' , "#{venue['name']}?#{venue['location']['address']}"%>
  <% end %>


<%= submit_tag("Add Restaurants to Event") %>
<% end %>