<!DOCTYPE html>
<meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>

<div class="row">
<h1><%= @query %></h1>
<%= form_tag("/venues/#{@group.id}/#{@query}", method: "post") do %>
          <%= select("post", "event_id", @group.events.collect {|p| [ p.name, p.id ]}, {include_blank: false}, :class => 'form-control flat sidearea-filter-sort') %>
          <% @venues.each do |venue| %>
          <a href="#"><%= venue["venue"]["name"]%></a>
          <%= venue["venue"]["location"]["address"] %>
          <%= check_box_tag 'venue_ids[]' , "#{venue["venue"]['name']}?#{venue["venue"]['location']['address']}?#{venue["venue"]["location"]["lat"]}?#{venue["venue"]["location"]["lng"]}"%>
</div>
<div id="map"></div>
<script>
      function initMap() {
        var myLatLng = {lat: <%= @x %>, lng: <%= @y %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 14
        });
        var center = new google.maps.Marker({
          position: myLatLng,
          map: map
        });
        center.setMap(map);
        <% @venues.each do |venue| %>
        var coord = {lat: <%= venue["venue"]["location"]["lat"] %>, lng: <%= venue["venue"]["location"]["lng"] %>}
        var marker = new google.maps.Marker({
          position: coord,
          map: map
        });
        marker.setMap(map);
        <% end %>
      }
</script>
    <script src="<%= @url %>" async defer></script>



  <!-- BreadCrumb Starts -->
    <div class="breadcrumb flat">
    <!-- Nested Container Starts -->
      <div class="container text-center-sm text-center-xs">
        <ul class="list-unstyled list-inline">
        </ul>
      </div>
    <!-- Nested Container Ends -->
    </div>
  <!-- BreadCrumb Ends -->
  <!-- Main Container Starts -->
    <div class="main-container container">
    <!-- Heading Starts -->
      <h4 class="main-heading-1 text-center-sm text-center-xs">
        Results for <%= @query %><br class="hidden-lg hidden-md">
        <a href="#" class="btn btn-main animation" data-toggle="modal" data-target="#change-location">Change Location <i class="fa fa-angle-double-right"></i></a>
      </h4>
    <!-- Heading Ends -->
    <!-- Starts -->
      <div class="row">
      <!-- Sidearea Starts -->
        <div class="col-md-3 col-sm-4 col-xs-12">
        <!-- Sidearea Filters Starts -->
          <div class="sidearea-filter">
          <!-- Search Field Starts -->
            <div class="input-group sidearea-filter-search">
              <input type="text" class="form-control flat" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default flat" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          <!-- Search Field Ends -->
          <!-- Sort By Field Starts -->
            <select class="form-control flat sidearea-filter-sort">
              <option>Sort by : Popularity</option>
              <option>Top Rated</option>
              <option>Latest</option>
              <option>Cost</option>
              <option>Cheap</option>
            </select>
          <!-- Sort By Field Ends -->
          </div>
        <!-- Sidearea Filters Ends -->
        <!-- Spacer For Smaller Devices -->
          <p class="visible-xs"><br></p>
        <!-- Spacer For Smaller Ends -->
        </div>
      <!-- Sidearea Ends -->
      <!-- Mainarea Starts -->
        <div class="col-md-9 col-sm-8 col-xs-12">
        <!-- Hotels List Starts -->
          <div class="hotels-list text-center-sm text-center-xs">
          <%= form_tag("/venues/#{@group.id}/#{@query}", method: "post") do %>
          <%= select("post", "event_id", @group.events.collect {|p| [ p.name, p.id ]}, {include_blank: false}, :class => 'form-control flat sidearea-filter-sort') %>
          <% @venues.each do |venue| %>
          <!-- List #1 Starts -->
            <div class="list-box clearfix">
            <!-- List Thumb Starts -->
              <div class="pull-left-lg pull-left-md">
                <img src="images/hotels/thumb/hotel-list-thumb-img1.jpg" alt="Village Plaza" class="img-responsive thumbnail img-center-sm img-center-xs">
              </div>
            <!-- List Thumb Ends -->
            <!-- List Descriptions Starts -->
              <div class="pull-left-lg pull-left-md list-box-info">
                <h5 class="list-box-info-title"><a href="#"><%= venue["venue"]["name"]%></a></h5>
                <h5><p><%= venue["venue"]["location"]["address"] %></p></h5>
                <%= check_box_tag 'venue_ids[]' , "#{venue["venue"]['name']}?#{venue["venue"]['location']['address']}?#{venue["venue"]["location"]["lat"]}?#{venue["venue"]["location"]["lng"]}"%>
                <ul class="list-unstyled list-inline list-box-info-tags">
                  <li><a href="#">Pizza</a>,</li>
                  <li><a href="#">American</a>,</li>
                  <li><a href="#">Sandwiches</a>,</li>
                  <li><a href="#">Steak House</a>,</li>
                  <li><a href="#">Pasta</a>,</li>
                  <li><a href="#">Wraps</a></li>
                </ul>
                <ul class="list-unstyled list-inline list-box-info-description text-bold">
                  <li><span>Delivery In</span><br> 1h  15min</li>
                  <li><span>Delivery Fee</span><br> $5.00</li>
                  <li><span>Min Order</span><br> $30.00</li>
                  <li><span>Distance</span><br> 1.2 miles</li>
                </ul>
                <ul class="list-unstyled list-inline list-box-info-links">
                  <li><i class="fa fa-tag"></i> <a href="#">Coupons (0)</a></li>
                  <li><i class="fa fa-info-circle"></i> <a href="#">Information</a></li>
                  <li><i class="fa fa-star-half-full"></i> <a href="#">Food Reviews</a></li>
                  <li><i class="fa fa-asterisk"></i> <a href="#">Our Special</a></li>
                </ul>
              </div>
            <!-- List Descriptions Ends -->
            <!-- List Right Col Starts -->
              <div class="pull-right-lg pull-right-md right-col text-right text-center-sm text-center-xs">
                <ul class="list-unstyled list-inline list-box-ratings">
                  <li class="star-rating">
                    <i class="fa fa-star" data-rating="1"></i>
                    <i class="fa fa-star" data-rating="2"></i>
                    <i class="fa fa-star" data-rating="3"></i>
                    <i class="fa fa-star-o" data-rating="4"></i>
                    <i class="fa fa-star-o" data-rating="5"></i>
                  </li>
                  <li>45 Ratings</li>
                  <li><a href="#" class="badge animation"><i class="fa fa-heart"></i> 10</a></li>
                </ul>
                <h6 class="sub-title"><i class="fa fa-certificate"></i> Flat 10% Off</h6>
                <a href="#" class="btn btn-secondary animation">
                  View Menu <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            <!-- List Right Col Ends -->
            </div>
          <!-- List #1 Ends -->
          <% end %>
          <%= submit_tag("Add Restaurants to Event", :class => 'btn btn-primary') %>
          <% end %>
          </div>
        <!-- Hotels List Ends -->
        <!-- Pagination Starts -->
          <div class="pagination-block text-right text-center-xs">
            <ul class="pagination animation">
              <li><a href="#">&laquo;</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
        <!-- Pagination Ends -->
        <!-- Banners Starts -->
          <div class="row">
            <div class="col-xs-4">
              <img src="images/banners/banner-img1.png" alt="Banner 1" class="img-responsive">
            </div>
            <div class="col-xs-4">
              <img src="images/banners/banner-img2.png" alt="Banner 2" class="img-responsive">
            </div>
            <div class="col-xs-4">
              <img src="images/banners/banner-img3.png" alt="Banner 3" class="img-responsive">
            </div>
          </div>
        <!-- Banners Ends -->
        </div>
      <!-- Mainarea Ends -->
      </div>
    <!-- Ends -->
    </div>
  <!-- Main Container Ends -->
  <!-- Change Location Modal Window Starts -->
    <div class="modal fade" id="change-location" tabindex="-1" role="dialog" aria-labelledby="change-location">
      <div class="modal-dialog" role="document">
      <!-- Modal Content Starts -->
        <div class="modal-content">
        <!-- Modal Header Starts -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Choose your location in Jacksonville</h4>
          </div>
        <!-- Modal Header Ends -->
        <!-- Modal Body Starts -->
          <div class="modal-body">
          <!-- Nested Container Starts -->
            <div class="container-fluid">
              <h4>Jacksonville City</h4>
              <div class="row">
                <div class="col-sm-4 col-xs-12">
                  <ul class="list-unstyled">
                    <li><a href="#">Abids</a></li>
                    <li><a href="#">Adikmet</a></li>
                    <li><a href="#">Amberpet</a></li>
                    <li><a href="#">Ameerpet</a></li>
                    <li><a href="#">Attapur</a></li>
                    <li><a href="#">Balanagar</a></li>
                    <li><a href="#">Banjara Hills</a></li>
                    <li><a href="#">Basheer Bagh</a></li>
                    <li><a href="#">Begum Bazaar</a></li>
                    <li><a href="#">Begumpet</a></li>
                    <li><a href="#">Chanda Nagar</a></li>
                    <li><a href="#">Chandrayanagutta</a></li>
                    <li><a href="#">Charminar</a></li>
                    <li><a href="#">Dilsukhnagar</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-12">
                  <ul class="list-unstyled">
                    <li><a href="#">Abids</a></li>
                    <li><a href="#">Adikmet</a></li>
                    <li><a href="#">Amberpet</a></li>
                    <li><a href="#">Ameerpet</a></li>
                    <li><a href="#">Attapur</a></li>
                    <li><a href="#">Balanagar</a></li>
                    <li><a href="#">Banjara Hills</a></li>
                    <li><a href="#">Basheer Bagh</a></li>
                    <li><a href="#">Begum Bazaar</a></li>
                    <li><a href="#">Begumpet</a></li>
                    <li><a href="#">Chanda Nagar</a></li>
                    <li><a href="#">Chandrayanagutta</a></li>
                    <li><a href="#">Charminar</a></li>
                    <li><a href="#">Dilsukhnagar</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-12">
                  <ul class="list-unstyled">
                    <li><a href="#">Abids</a></li>
                    <li><a href="#">Adikmet</a></li>
                    <li><a href="#">Amberpet</a></li>
                    <li><a href="#">Ameerpet</a></li>
                    <li><a href="#">Attapur</a></li>
                    <li><a href="#">Balanagar</a></li>
                    <li><a href="#">Banjara Hills</a></li>
                    <li><a href="#">Basheer Bagh</a></li>
                    <li><a href="#">Begum Bazaar</a></li>
                    <li><a href="#">Begumpet</a></li>
                    <li><a href="#">Chanda Nagar</a></li>
                    <li><a href="#">Chandrayanagutta</a></li>
                    <li><a href="#">Charminar</a></li>
                    <li><a href="#">Dilsukhnagar</a></li>
                  </ul>
                </div>
              </div>
            </div>
          <!-- Nested Container Ends -->
          </div>
        <!-- Modal Body Ends -->
        </div>
      <!-- Modal Content Ends -->
      </div>
    </div>
  <!-- Change Location Modal Window Ends -->

</body>