<div>
<%= form_tag("/groups/#{@group.id}", method: "get") do %>
<div>
<%= text_field_tag(:search, "Search") %>
</div>
<% end %>
</div>

<div>
<%= @group.id %>
</div>
<div>
<%= @group.name %>
</div>
<div>
<%= @group.location %>
</div>
<h3>Members</h3>
<% @members.each do |member| %>
<div>
<%= member.username %>
</div>
<% end %>
<div>
<h3> List </h3>
</div>
<% @venues.each do |venue| %>
<div>
<%= venue.name %>
</div>
<div>
<%= venue.location %>
</div>
<div>
<hr>
</div>
<% end %>
