
<div class="row"> 
  <div class="col s12">
    <h4>Search</h4><% url = "/venues/" + @group.id.to_s %>
    <%= form_tag(url, method: :get) do %>
    <%= label_tag(:search, "Keyword") %>
    <%= text_field_tag(:search) %>
    <%= label_tag(:location, "Location") %>
    <%= text_field_tag(:location) %>
    <%= hidden_field_tag 'group_id', @group.id %>
    <%= submit_tag("Search") %>
    <% end %><a href="/events/<%= @group.id %>/new" class="waves-effect waves-light btn">Create New Event</a>
  </div>
  <div class="col s9">
    <h4>Events</h4><% @events.each do |event| %>
    <div class="card">
      <div class="card-content"><span class="card-title"><%= event.name %></span>
        <p><%= event.date.strftime("%A, %b %d") %></p>
        <p><%= event.start_time.strftime("%I:%M:%S %p") %></p>
        <p><%= event.end_time.strftime("%I:%M:%S %p") %></p>
        <p>Description: <%= event.description %></p>
        <p>Capcity: <%= event.capacity %></p>
        <hr/><% venue = event.current_user_voted_on(current_user.id) %>
        <% if venue %>
        <p class="vote-commited">Voted </p>
        <p><%= venue.name %></p>
        <p><%= venue.location %></p>
        <p><%= venue.chosen %></p><% end %><a href="#">(Show map)</a>
        <ul data-collapsible="accordion" class="collapsible">
          <li>
            <div class="collapsible-header">Venues</div>
            <div class="collapsible-body"><% @venues[event.id.to_s].each do | venue | %>
              <p><%= venue.name %></p><% end %>
            </div>
          </li>
        </ul>
      </div>
      <div class="card-action"><a href="/votes/<%= @group.id %>/<%= event.id %>" class="waves-effect waves-light btn">Vote</a></div>
    </div><% end %>
  </div>
  <div class="col s3">
    <h5>Chatroom</h5>
    <div ng-app="app">
      <div ng-controller="messagesCtrl" ng-init="setUp()" id="messagesCtrl">
        <div ng-repeat="message in messages">
          <p> <b>{{ message.name }} </b>{{ message.body }}</p>
        </div>
        <div id="newMessages"></div>
        <form name="newMessageForm">
          <input type="text" ng-model="newMessageBody" class="materialize-textarea"/>
          <input type="submit" ng-click="createNewMessage(newMessageBody)" class="waves-effect waves-light btn"/>
        </form>
      </div>
    </div>
  </div>
</div>