<div>
<%= form_tag("/groups/#{@group.id}", method: "get") do %>
<div>
<%= text_field_tag(:search) %>
</div>
<div>
<%= text_field_tag(:location, "Enter Your Location") %>
</div>
</div>
<button id="location-button" type="button" onclick="getLocation();">Use My Location</button>
<div>
<%= submit_tag("Search") %>
</div>
<% end %>
<div>
<%= @group.id %>
</div>
<div>
<%= @group.name %>
</div>
<div>
<%= @group.location %>
</div>
<h3>Events</h3>
<% @events.each do |event| %>
<p><%= event.name %></p>
<% end %>
<h3>Members</h3>
<% @members.each do |member| %>
<div>
<%= member.username %>
</div>
<% end %>
<div>
<h3> List </h3>
</div>
<% @group.events.each do |event| %>
<h3><%= event.name %></h3>
<% event.venues.each do |venue| %>
<div>
<%= venue.name %>
</div>
<div>
<%= venue.location %>
</div>
<div>
<hr>
</div>
<% end %>
<% end %>

<script>
function getLocation(){
  navigator.geolocation.getCurrentPosition(function(position) {
    console.log(position.coords.latitude);
    console.log(position.coords.longitude);
    $.ajax({
      url: "/locations/41",
      type: "POST",
      data: { coordinates: {
        latitude: position.coords.latitude,
        longitude: position.coords.longitude
      }},
      success: function(resp){

        console.log("Data successfully saved.");
        $('input[name=location]').val('Current Location');
      }
    });
  });
};
</script>
