<div>
<%= form_tag("/groups", method: "get") do %>
<div>
<%= text_field_tag(:search, "Search") %>
</div>
<% end %>
</div>

<div>
<%= @group.id %>
</div>
<div>
<%= @group.name %>
</div>
<div>
<%= @group.location %>
</div>
<h3>Members</h3>
<% @members.each do |member| %>
<div>
<%= member.username %>
</div>
<% end %>
