
<div class="row"> 
  <div class="col s12">
    <p><strong class="brand-logo"><%= @group.name %></strong></p><br/><% url = "/venues/" + @group.id.to_s %>
    <%= form_tag(url, method: :get, :class => "search-box animated bounceIn") do %><%= text_field_tag(:search, nil, class: "search-input", placeholder: 'Search') %><%= text_field_tag(:location, nil, class: "search-input", placeholder: 'Location') %>
    <%= hidden_field_tag 'group_id', @group.id %>
    <%= submit_tag "Search" , :class => "btn" %>
    <% end %><br/><a href="/events/<%= @group.id %>/new" class="waves-effect waves-light btn">Create New Event</a>
  </div>
  <div class="col s9">
    <p class="brand-logo">Events</p><% @events.each do |event| %>
    <div class="card animated fadeInUpBig">
      <div class="card-content"><span class="card-title"> 
          <h3><%= event.name %></h3></span>
        <p><%= event.date.strftime("%A, %b %d") %></p>
        <p><%= event.start_time.strftime("%I:%M %p") %> - <%= event.end_time.strftime("%I:%M %p") %></p><% if event.venues.where(chosen: true).any? %>
        <p><%= event.venues.find_by(chosen: true).location %></p><% else %><b></b>
        <p style="color:gray">Voting is underway for location. Search for a venue to add. </p><% end %><br/>
        <p>Description
          <p><%= event.description %></p>
        </p><br/>
        <p>Capacity
          <p><%= event.capacity %></p>
        </p><br/>
        <hr/><% venue = event.current_user_voted_on(current_user.id) %>
        <% if venue %>
        <p class="vote-commited">Voted </p>
        <p><%= venue.name %></p>
        <p><%= venue.location %></p><% end %>
        <% if event.venue_id%><a href="#">(Show map)</a><% end %><br/>
        <ul data-collapsible="accordion" class="collapsible">
          <li>
            <div class="collapsible-header">Voting List</div>
            <div class="collapsible-body"><% @venues[event.id.to_s].each do | venue | %>
              <p><%= venue.name %> - <%= venue.votes.count %></p><% end %>
            </div>
          </li>
        </ul>
      </div>
      <div class="card-action"><a href="/votes/<%= @group.id %>/<%= event.id %>" class="waves-effect waves-light btn">Vote</a></div>
    </div><% end %>
  </div>
  <div class="col s3">
    <div ng-app="app" style="margin-top: 262px;" class="animated fadeInUpBig">
      <div ng-controller="messagesCtrl" ng-init="setUp()" id="messagesCtrl" class="chatroom-box">
        <div ng-repeat="message in messages">
          <p> <b style="font-style: italic; padding-right: 5px;">{{ message.name }} </b>{{ message.body }}</p>
        </div>
        <div id="newMessages"></div>
        <form name="newMessageForm">
          <input type="text" ng-model="newMessageBody" class="materialize-textarea"/>
          <input type="submit" ng-click="createNewMessage(newMessageBody)" class="waves-effect waves-light btn"/>
        </form>
      </div>
    </div>
  </div>
</div>