<br>
<%= form_tag("/events/#{@group.id}", method: "post", :class => "form-tag") do %>
<div>
<!-- <%= label_tag(:name, "Name") %> -->
<%= text_field_tag(:name, nil, :class =>"search-input", placeholder: 'Name') %>
</div>
<div>
<!-- <%= label_tag(:description, "Description") %> -->
<%= text_field_tag(:description, nil, :class => "search-input", placeholder: 'Description') %>
</div>
<div>
<!-- <%= label_tag(:capacity, "Capacity") %> -->
<%= text_field_tag(:capacity, nil, :class => "search-input", placeholder: 'Capcity') %>
</div>
<div>
<!-- <%= label_tag(:start_time, "Start Time") %> -->
<%= time_field_tag(:start_time, nil, :class => "date-picker")%>
<!-- <%= text_field_tag(:start_time) %> -->
</div>
<div>
<!-- <%= label_tag(:end_time, "End Time") %> -->
<%= time_field_tag(:end_time, nil, :class => "date-picker")%>
<!-- <%= text_field_tag(:end_time) %> -->
</div>
<div>
  <%= label_tag(:date, "Date", :class => 'white-text') %>
  <%= date_field_tag(:date, nil, class: 'datepicker', style: 'background-color: white;') %>
  <!-- <input type="date" class="datepicker"> -->
</div>
<%= submit_tag("Create", :class => "btn") %>
<% end %>
