<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">

<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
</style>

<body>
<h1><%= @query %></h1>
<%= form_tag("/venues/#{@group.id}/#{@query}", method: "post") do %>
          <%= select("post", "event_id", @group.events.collect {|p| [ p.name, p.id ]}, {include_blank: false}, :class => 'form-control flat sidearea-filter-sort') %>
          <% @venues.each do |venue| %>
          <a href="#"><%= venue["venue"]["name"]%></a>
          <%= venue["venue"]["location"]["address"] %>
          <%= check_box_tag 'venue_ids[]' , "#{venue["venue"]['name']}?#{venue["venue"]['location']['address']}?#{venue["venue"]["location"]["lat"]}?#{venue["venue"]["location"]["lng"]}"%>
          <% end %>
           <%= submit_tag("Add Restaurants to Event", :class => 'btn btn-primary') %>
  <% end %>
<div id="map">
</div>
<script src="<%= @url %>" async defer></script>

</body>
