<h3><%= @event.name %></h3>

<%= form_tag("/votes/#{@group.id}", method: "post") do %>
<% @venues.each do |venue| %>
    <p>
      <%= radio_button_tag(:venue, "#{venue.id}") %>
      <%= label_tag("venue_#{venue.id}", "#{venue.name}") %>
    </p>
  <%= hidden_field_tag :event_id, @event.id %>
<% end %>
<%= submit_tag("Vote") %>
<% end %>
