<!DOCTYPE html>
<html lang="en" class="full">
  <head>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!-- Fav and touch icons -->

    <%= action_cable_meta_tag %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js"></script> -->

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body class="full">
  <nav>
    <div class="nav-wrapper">
      <a href="/groups" class="brand-logo"><i class="material-icons" style="font-size: 6rem;">store</i>Meetuply</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
        <li><a href="#"><i class="material-icons">chat_bubble</i></a></li>
        <li><a href="#"><%= current_user.username %></a></li>
        <li><%= image_tag(current_user.profile_img, id: "profile-img") %></li>
      </ul>
      <% end %>
      <ul id="mobile-demo" class="side-nav">
        <% if current_user %>
        <li><a href="#"><i class="material-icons">chat_bubble</i></a></li>
        <li><a href="#"><%= current_user.username %></a></li>
        <li><%= image_tag(current_user.profile_img, id: "profile-img") %></li>
      </ul>
      <% end %>
    </div>
  </nav>

    <div class="container">
      <br>
      <% if current_user %>
      <a href="#" data-activates="slide-out" class="button-collapse btn" onclick="slideOut()">Control Center</a>
      <% end %>
      <%= yield %>
    </div>

    <% if current_user %>
    <ul id="slide-out" class="side-nav">
      <li><div class="userView">
        <a href="#!user"><%= image_tag(current_user.profile_img, id: "profile-img") %></a>
        <a href="#!name"><span class="name"><%= current_user.username %></span></a>
        <a href="#!email"><span class="email"><%= current_user.email %></span></a>
      </div></li>
      <li><div class="divider"></div></li>
      <li><a href="/groups">Home</a></li>
      <% current_user.groups.each do |group| %>
      <li><a href="/groups/<%= group.id %>"><%= group.name %></a></li>
      <% group.events.each do |event| %>
      <li><a class="subheader"><%= event.name  %></a></li>
      <% end %>
      <% end %>
      <li><a href="/logout">Logout</a></li>
    </ul>
    <% end %>
    </div>

    <footer class="page-footer">
          <div class="container footer">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text brand-logo"><i class="material-icons" style="font-size: 4rem;">store</i>Meetuply</h5>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Groups</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Events</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Friends</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
      </footer>

    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  </body>
  <script>
  $('.button-collapse').sideNav();
  </script>
</html>
