<!DOCTYPE html>
<html lang="en" class="full">
  <head>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Fav and touch icons -->

    <%= action_cable_meta_tag %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body class="full">

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Meetuply</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
        <li><a href="#"><i class="material-icons">chat_bubble</i></a></li>
        <li><a href="#"><%= current_user.username %></a></li>
        <li><%= image_tag(current_user.profile_img, id: "profile-img") %></li>
      </ul>
      <% end %>
    </div>
  </nav>
    <div class="container">
      <%= yield %>
    </div>
    <ul id="slide-out" class="side-nav">
      <li><div class="userView">
        <a href="#!user"><%= image_tag(current_user.profile_img, id: "profile-img") %></a>
        <a href="#!name"><span class="name"><%= current_user.username %></span></a>
        <a href="#!email"><span class="email"><%= current_user.email %></span></a>
      </div></li>
      <li><div class="divider"></div></li>
      <li><a href="/groups">Home</a></li>
      <% current_user.groups.each do |group| %>
      <li><a href="/groups/<%= group.id %>"><%= group.name %></a></li>
      <% group.events.each do |event| %>
      <li><a class="subheader"><%= event.name  %></a></li>
      <% end %>
      <% end %>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse" onclick="slideOut()"><i class="material-icons">menu</i></a>

    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->

  </body>
</html>
